:host {
    display: block;
}

h3 {
    color: #b90900;
}

label {
    display: block;
    margin-top: 12px;
    font-size: 0.9rem;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 0.95rem;
    border: solid 1px var(--dynamic-border-color, #A9A9A9);
    border-radius: 0;
    box-shadow: 0 0 0 1px transparent;
}

button {
    margin-top: 20px;
    background-color: #b90900;
    color: white;
    padding: 10px 20px;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    width: fit-content;
}

button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

.submit-msg {
    margin-top: 12px;
    font-size: 0.9rem;
}

.half-fields {
    display: flex;
    gap: 6%;
    flex-direction: row;
    width: 100%;
}

.fields {
    display: flex;
    flex-direction: column;
    width: 47%;
}